# Default Environments
node_modules
dist
build
.env
.next

# Python specific
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/
.Python
pip-log.txt
pip-delete-this-directory.txt

# Databases
*.db
*.sqlite
*.sqlite3

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
.DS_Store
Thumbs.db
